@import './normalize.css';

html.light .dark-only {
  display: none;
}

html.dark .light-only {
  display: none;
}

:root {
  --header-height: 48px;
  scroll-padding-top: var(--header-height);
}

h1 {
  text-wrap: pretty;
}
