@media (min-width: 1024px) {
  .container {
    > div {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.container {
  li {
    p {
      margin-bottom: 0;
    }
    margin-bottom: var(--space-2);
  }
}
