@media (min-width: 1024px) {
  .container {
    > div {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.container {
  max-width: 100vw;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: var(--space-9);
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-block: var(--space-3);
  }

  li {
    p {
      margin-bottom: 0;
    }
    margin-bottom: var(--space-2);
  }

  picture {
    background-color: var(--gray-2);
    padding: var(--space-1);
    display: flex;
    max-width: max-content;
    margin-block: var(--space-6);
    border-radius: var(--radius-4);
    border: 1px solid var(--gray-5);
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 2px 0px var(--gray-6);

    video,
    img {
      border-radius: var(--radius-3);
      position: relative;
      max-width: 100%;
      height: auto;
    }

    img {
      cursor: zoom-in;
    }
  }

  figcaption {
    padding: var(--space-5);
    padding-bottom: var(--space-2);
    margin-top: calc(var(--space-8) * -1);
    margin-bottom: var(--space-6);
    display: block;
    position: relative;
    text-align: center;
    z-index: 0;
    border-bottom-left-radius: var(--radius-4);
    border-bottom-right-radius: var(--radius-4);
    border: 1px solid var(--gray-5);
    background: var(--gray-3);
    color: var(--gray-11);
    font-size: var(--font-size-2);
    font-weight: 500;
    line-height: var(--space-4);
    text-wrap: pretty;
  }
}
